myvenv/
*.log
*.pdf
code/music.db
code/client_secret_260570729620-cm930ikv4gpb79i4mqg3sfi5hagls4j9.apps.googleusercontent.com.json
code/admin.json
code/test.py
code/secret.json
code/paths.json
ImpNotes.txt