  /*For Navbar on top*/    
  .sidenav {
    height: 100%;
    
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    
    z-index: 1;
    /* Stay on top */
    top: 0;
    
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 60px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
  }
  @media (max-width: 768px) {
    .sidenav {
        padding-top: 200px; /* More padding for small screens */
    }
    .sidenav .closebtn{
      top:500px;
    }
  }
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.6rem;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .sidenav a:hover {
    color: #f1f1f1;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 40px;
    right: 25px;
    font-size: 2.25rem;
    margin-left: 50px;
  }

  @media screen and (max-height: 450px) {
    .sidenav a {
      font-size: 1.125rem;
    }
  }

  .navbar-brand-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }

  .navbar-brand {
      display: flex;
      align-items: center;
      color: white;
  }

  .navbar-brand img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
      margin-right: 8px;
  }
  .nav-heading {
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
    color: white;
    white-space: nowrap;
  }
  @media (max-width: 768px) {
    .nav-heading {
        font-size: 1.2rem;
        left: 50%;
        transform: translateX(-50%);
    }
    .navbar-brand-container {
      padding: 0 10px; /* Adjust for smaller screens */
    }
    .navbar-brand {
        font-size: 0.8rem;
    }
    
    .navbar-brand img {
      width: 30px; /* Adjust size for smaller screens */
      height: 30px;
    }
    .navbar-brand, .nav-heading {
      position: static;
      transform: none;
    }

    .nav-heading {
      text-align: center;
      width: 100%;
    }
  }

    














    /* Custom styles for the hero section */
    .hero-section {
      position: relative;
      height: 50vh; /* Set the height to 50% of the viewport height */
      /* background: url('your-background-image.jpg') center/cover no-repeat; Replace with your image */
      color: #fff;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 100px; 
      margin : 80px;
      background-color:bisque; 
    }
    .hero-title{
      position: absolute;
      top:0px;
      right:25%;
      left:25%;
      padding: 15px;
      text-align: center;
      justify-content: center;
    }
    .scrollable-rows {
      position: absolute; 
      top:70px;
      left: 0;
      right: 0;
      overflow-y: auto;
      max-height: calc(50vh - 56px); /* Set the maximum height for scrollable rows (50% viewport height minus navbar height) */
      background-color: bisque;/* Example background color */
      padding: 15px;
    }

    .row-content {
      /* Add any additional styling for the row content */
      margin-bottom: 10px;
    }

    /* Adjustments for smaller screens */
    @media (max-width: 768px) {
      .hero-section {
        height: 30vh;
      }
    }











    /*For Modal*/
    .modal {
      display: none;
      background-color: rgba(0, 0, 0, 0.5);
      z-index:1;
    }
  
    .modal-content {
        background-color: #fff;
        margin: 10% auto;
        padding: 20px;
        border: 1px solid #888;
    }
  
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
        cursor: pointer;
    }













/*Body and main*/
    body {
      display: flex;
      flex-direction: column;
      min-height: 100vh; /* Set the minimum height of the body to 100% of the viewport height */
      margin: 0;
    }
    main {
      flex: 1; /* Allow the main content to grow and take up remaining vertical space */
    }